<!Doctype html>
<html lang="en" class="h-100">
  {%load static%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Aspirant</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% include 'partials/bootcss.html' %}
  </head>
  <body>

    <style>
        .__uqj {
            background-color: #d1d1d1;
            height: 32px;
            width: 2px;
            box-shadow: #ffffff;
        }
    </style>

    <nav class="navbar navbar-expand-lg sticky-top bg-light py-0 mb-5 shadow mx-auto" >

        <div class="container-fluid">

            <a class="navbar-brand" href='/'>
                <h2><b><strong style='color: black;'><img src="/static/search_button.png" width="50" height="40">ASPIRANT</strong></b></h2><span class="sr-only"></span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav mx-4">

                    {% if user.is_authenticated %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/dashboard" style='color: black;'><strong>DASHBOARD</strong></a>
                    </li>
                    {% endif %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/jobs" style='color: black;'><strong>JOBS</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/companies" style='color: black;'><strong>COMPANIES</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/services" style='color: black;'><strong>SERVICES</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/about" style='color: black;'><strong>ABOUT</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/contact" style='color: black;'><strong>CONTACT</strong></a>
                    </li>

                </ul>

                <div class="container-fluid">

                    <ul class="navbar-nav mx-2 justify-content-end">

                        {% if user.is_authenticated %}
                        <li class="nav-item mx-1">
                            <span class="navbar"><strong>{{user.username.upper}}</strong></span>
                        </li>
                        <li class="nav-item mx-1">
                            <a type="button" class="btn btn-outline-none" href="/logout"><strong>LOGOUT</strong></a>
                        </li>
                        {% else %}
                        <li class="nav-item mx-1">
                            <a type="button" class="btn btn-outline-success" href="/login">Login</a>
                        </li>

                        <li class="nav-item mx-3">
                            <a type="button" class="btn btn-outline-success" href="/register">Register</a>
                        </li>

                        <li class="__uqj nav-item"></li>

                        <li class="nav-item mx-3">
                            <a type="button" class="btn btn-outline-dark" href="/login">Employeer / Post a job</a>
                        </li>
                        {% endif %}

                    </ul>
                    
                </div>

            </div>

        </div>

    </nav>

    <div class='container-fluid'>

      <div class="container pb-2">
        <div class="text-center qsb-title mb-5">
            <strong><h1 style="color: black; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Welcome to Aspirant..! Here you will know about us</h1></strong>
            <h4 class='text-muted'>Great things takes such a time</h4>
        </div>
    </div>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row text-center">
            <div class="col-lg-4">
              <img src="/static/ce.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" width="100%" height="100%" alt="">
                <h2 class="fw-normal text-center mt-3">CEO</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img  src="/static/manager.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" width="100%" height="100%" alt="">
                <h2 class="fw-normal text-center mt-3">Manger</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img  src="/static/dev.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" width="100%" height="100%" alt="">
                <h2 class="fw-normal text-center mt-3">Dev</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette text-center mx-auto my-5">
              <div class="col-md-7 text-center">
                  <h2 class="featurette-heading fw-normal lh-1">First featurette heading.</h2>
                  <h4><span class="text-muted">It’ll blow your mind.</span></h4>
                  <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
              </div>
            <div class="col-md-5">
              <img src="/static/cas1.jpg" class="card-img" width="240" height="340" alt="">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette text-center mx-auto my-5">
            <div class="col-md-7 order-md-2 text-center">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good.</h2>
                <h4><span class="text-muted">See for yourself.</span></h4>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="/static/cas2.jpg" class="card-img" width="240" height="340" alt="">
            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette text-center mx-auto my-5">
            <div class="col-md-7 text-center">
              <h2 class="featurette-heading fw-normal lh-1">And lastly, this one.</h2>
              <h4><span class="text-muted">Checkmate.</span></h4>
              <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
              <img src="/static/cas3.jpg" class="card-img" width="240" height="340" alt="">
            </div>
            </div>

            <hr class="featurette-divider">

        </div>

    </div>

    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <footer class="footer pt-3 mt-auto py-5 bg-light">

            <div class="container py-4 py-md-2 px-4 px-md-3">

              <div class="row">

                <div class="col-lg-3 mb-3">

                  <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/companies">
                    <span class="fs-5"><strong>Aspirant</strong></span>
                  </a>

                  <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Designed and built with all the love in the world by the <a href="/companies">Aspirant team</a> with the help of <a href="/companies">our contributors</a>.</li>
                    <li class="mb-2">Code licensed <a href="/companies" target="" rel="">MIT</a>, docs <a href="/companies" target="" rel="">CC BY 3.0</a>.</li>
                    <li class="mb-2">Currently v5.2.0.</li>
                  </ul>

                </div>
                <div class="col-5 col-lg-2 offset-lg-1 mb-3">
                  <h5>Links</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/companies">Home</a></li>
                    <li class="mb-2"><a href="/companies">Docs</a></li>
                    <li class="mb-2"><a href="/companies">Examples</a></li>
                    <li class="mb-2"><a href="/companies">Icons</a></li>
                    <li class="mb-2"><a href="/companies">Themes</a></li>
                    <li class="mb-2"><a href="/companies">Blog</a></li>
                    <li class="mb-2"><a href="/companies">Swag Store</a></li>
                  </ul>
                </div>
                <div class="col-5 col-lg-2 mb-3">
                  <h5>Guides</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/companies">Getting started</a></li>
                    <li class="mb-2"><a href="/companies">Starter template</a></li>
                    <li class="mb-2"><a href="/companies">Webpack</a></li>
                    <li class="mb-2"><a href="/companies">Parcel</a></li>
                    <li class="mb-2"><a href="/companies">Vite</a></li>
                  </ul>
                </div>
                <div class="col-5 col-lg-2 mb-3">
                  <h5>Projects</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/companies">Bootstrap 5</a></li>
                    <li class="mb-2"><a href="/companies">Bootstrap 4</a></li>
                    <li class="mb-2"><a href="/companies">Icons</a></li>
                    <li class="mb-2"><a href="/companies">RFS</a></li>
                    <li class="mb-2"><a href="/companies">npm starter</a></li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="app-cont text-center">
                <a href="https://play.google.com/store/apps/" target="_blank">
                    <img src="https://static.naukimg.com/s/0/0/i/new-homepage/android-app.png" height="44" width="151">
                </a>
                <a href="https://itunes.apple.com/in/app/" target="_blank">
                    <img src="https://static.naukimg.com/s/0/0/i/new-homepage/ios-app.png" height="44" width="151">
                </a>
            </div>

        </footer>

    {% include 'partials/bootjs.html' %}

  </body>

</html>