<!Doctype html>
<html lang="en" class="h-100">
  {%load static%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% include 'partials/bootcss.html' %}
    <title>Companies - Aspirant</title>
  </head>
  <body>

    <style>
        .__uqj {
            background-color: #d1d1d1;
            height: 32px;
            width: 2px;
            box-shadow: #ffffff;
        }
    </style>

    <nav class="navbar navbar-expand-lg fixed-top bg-light py-0 mb-5 shadow mx-auto" >

        <div class="container-fluid">

            <a class="navbar-brand" href='/'>
                <h2><b><strong style='color: black;'><img src="/static/search_button.png" width="50" height="40">ASPIRANT</strong></b></h2><span class="sr-only"></span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav mx-4">

                    {% if user.is_authenticated %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/dashboard" style='color: black;'><strong>DASHBOARD</strong></a>
                    </li>
                    {% endif %}
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/jobs" style='color: black;'><strong>JOBS</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/companies" style='color: black;'><strong>COMPANIES</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/services" style='color: black;'><strong>SERVICES</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/about" style='color: black;'><strong>ABOUT</strong></a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/contact" style='color: black;'><strong>CONTACT</strong></a>
                    </li>

                </ul>

                <div class="container-fluid">

                    <ul class="navbar-nav mx-2 justify-content-end">

                        {% if user.is_authenticated %}
                        <li class="nav-item mx-1">
                            <span class="navbar"><strong>{{user.username.upper}}</strong></span>
                        </li>
                        <li class="nav-item mx-1">
                            <a type="button" class="btn btn-outline-none" href="/logout"><strong>LOGOUT</strong></a>
                        </li>
                        {% else %}
                        <li class="nav-item mx-1">
                            <a type="button" class="btn btn-outline-success" href="/login">Login</a>
                        </li>

                        <li class="nav-item mx-3">
                            <a type="button" class="btn btn-outline-success" href="/register">Register</a>
                        </li>

                        <li class="__uqj nav-item"></li>

                        <li class="nav-item mx-3">
                            <a type="button" class="btn btn-outline-dark" href="/login">Employeer / Post a job</a>
                        </li>
                        {% endif %}

                    </ul>
                    
                </div>

            </div>

        </div>

    </nav>

        <strong><h3 class='text-center mt-5 pt-5'><u>List of all companies</u></h3></strong>

        <div class="col-sm-11 mx-auto mt-3">

            <div class="row row-cols-1 row-cols-md-6 g-4 mt-2 mb-3">

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.amazon.jobs/en/"><img src="/static/amazon.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="shadow">
                        <a href="https://careers.cognizant.com/global/en"><img src="/static/congizant.png" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.capgemini.com/in-en/careers/"><img src="/static/capgemini.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.accenture.com/in-en/careers"><img src="/static/accenture.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.tcs.com/careers?country=IN&lang=EN"><img src="/static/tcs.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="shadow">
                        <a href="https://www.hcltech.com/careers"><img src="/static/hcl-logo.jpg" style="width:100%;height:120%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www2.deloitte.com/global/en.html"><img src="/static/Deloittel.png" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.ibm.com/in-en/employment/"><img src="/static/ibm.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://careers.microsoft.com/us/en"><img src="/static/microsoft.jpeg" style="width:100%;height:107%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.birlasoft.com/"><img src="/static/birlasoft.jpg" style="width:100%;height:110%;"></a>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card shadow">
                        <a href="https://career.infosys.com"><img src="/static/Infosys Limited Logo 3.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.honeywell.com/in/en"><img src="/static/honeywell-logo.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.kpit.com"><img src="/static/kpit.png" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.larsentoubro.com"><img src="/static/LT.jpg" style="width:100%;height:110%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.bing.com"><img src="/static/bing.jpg" style="width:100%;height:105%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://in.yahoo.com"><img src="/static/yahoo.png" style="width:100%;height:110%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.persistent.com/"><img src="/static/Persistent.jpg" style="width:100%;height:108%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.netflix.com"><img src="/static/net.jpg" style="width:100%;height:107%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.google.co.in"><img src="/static/Google.png" style="width:100%;height:150%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.mphasis.com/home.html"><img src="/static/Mphasis.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.cisco.com"><img src="/static/cisco_logo.png" style="width:100%;height:102%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.hpe.com"><img src="/static/HPE.jpg" style="width:100%;height:110%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://redingtongroup.com"><img src="/static/Redington.jpg" style="width:100%;height:120%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.sap.com"><img src="/static/SAP.png" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.mindtree.com/"><img src="/static/mindtree.jpg" style="width:100%;height:108%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.espn.in"><img src="/static/espn-logo.jpg" style="width:100%;height:130%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://in.linkedin.com"><img src="/static/ld.jpg" style="width:100%;height:100%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.aol.com"><img src="/static/aol.jpg" style="width:100%;height:107%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.rakuten.com"><img src="/static/r.png" style="width:100%;height:180%;"></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <a href="https://www.sasken.com/"><img src="/static/Sasken Technologies.jpg" style="width:100%;height:90%;"></a>
                    </div>
                </div>

            </div>

        </div>

        <hr>

        <footer class="footer pt-3 mt-auto py-5 bg-light">

            <div class="container py-4 py-md-2 px-4 px-md-3">

              <div class="row">

                <div class="col-lg-3 mb-3">

                  <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/companies">
                    <span class="fs-5"><strong>Aspirant</strong></span>
                  </a>

                  <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Designed and built with all the love in the world by the <a href="/companies">Aspirant team</a> with the help of <a href="/companies">our contributors</a>.</li>
                    <li class="mb-2">Code licensed <a href="/companies" target="" rel="">MIT</a>, docs <a href="/companies" target="" rel="">CC BY 3.0</a>.</li>
                    <li class="mb-2">Currently v5.2.0.</li>
                  </ul>

                </div>
                <div class="col-5 col-lg-2 offset-lg-1 mb-3">
                  <h5>Links</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/companies">Home</a></li>
                    <li class="mb-2"><a href="/companies">Docs</a></li>
                    <li class="mb-2"><a href="/companies">Examples</a></li>
                    <li class="mb-2"><a href="/companies">Icons</a></li>
                    <li class="mb-2"><a href="/companies">Themes</a></li>
                    <li class="mb-2"><a href="/companies">Blog</a></li>
                    <li class="mb-2"><a href="/companies">Swag Store</a></li>
                  </ul>
                </div>
                <div class="col-5 col-lg-2 mb-3">
                  <h5>Guides</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/companies">Getting started</a></li>
                    <li class="mb-2"><a href="/companies">Starter template</a></li>
                    <li class="mb-2"><a href="/companies">Webpack</a></li>
                    <li class="mb-2"><a href="/companies">Parcel</a></li>
                    <li class="mb-2"><a href="/companies">Vite</a></li>
                  </ul>
                </div>
                <div class="col-5 col-lg-2 mb-3">
                  <h5>Projects</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/companies">Bootstrap 5</a></li>
                    <li class="mb-2"><a href="/companies">Bootstrap 4</a></li>
                    <li class="mb-2"><a href="/companies">Icons</a></li>
                    <li class="mb-2"><a href="/companies">RFS</a></li>
                    <li class="mb-2"><a href="/companies">npm starter</a></li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="app-cont text-center">
                <a href="https://play.google.com/store/apps/" target="_blank">
                    <img src="https://static.naukimg.com/s/0/0/i/new-homepage/android-app.png" height="44" width="151">
                </a>
                <a href="https://itunes.apple.com/in/app/" target="_blank">
                    <img src="https://static.naukimg.com/s/0/0/i/new-homepage/ios-app.png" height="44" width="151">
                </a>
            </div>

        </footer>

    {% include 'partials/bootjs.html' %}

  </body>

</html>