<!Doctype html>
<html lang="en" class="h-100">
  {%load static%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us - Aspirant</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% include 'partials/bootcss.html' %}
  </head>
  <body>

    <style>
        .__uqj {
            background-color: #d1d1d1;
            height: 32px;
            width: 2px;
            box-shadow: #ffffff;
        }
    </style>

    <div class="card-img-overlay py-0 mx-auto">

        <nav class="navbar navbar-expand-lg fixed-top bg-light py-0 mb-5 shadow mx-auto" >

            <div class="container-fluid">

                <a class="navbar-brand" href='/'>
                    <h2><b><strong style='color: black;'><img src="/static/search_button.png" width="50" height="40">ASPIRANT</strong></b></h2><span class="sr-only"></span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav mx-4">

                        {% if user.is_authenticated %}
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="/dashboard" style='color: black;'><strong>DASHBOARD</strong></a>
                        </li>
                        {% endif %}
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="/jobs" style='color: black;'><strong>JOBS</strong></a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="/companies" style='color: black;'><strong>COMPANIES</strong></a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="/services" style='color: black;'><strong>SERVICES</strong></a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="/about" style='color: black;'><strong>ABOUT</strong></a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="/contact" style='color: black;'><strong>CONTACT</strong></a>
                        </li>

                    </ul>

                    <div class="container-fluid">

                        <ul class="navbar-nav mx-2 justify-content-end">

                            {% if user.is_authenticated %}
                            <li class="nav-item mx-1">
                                <span class="navbar"><strong>{{user.username.upper}}</strong></span>
                            </li>
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-none" href="/logout"><strong>LOGOUT</strong></a>
                            </li>
                            {% else %}
                            <li class="nav-item mx-1">
                                <a type="button" class="btn btn-outline-success" href="/login">Login</a>
                            </li>

                            <li class="nav-item mx-3">
                                <a type="button" class="btn btn-outline-success" href="/register">Register</a>
                            </li>

                            <li class="__uqj nav-item"></li>

                            <li class="nav-item mx-3">
                                <a type="button" class="btn btn-outline-dark" href="/login">Employeer / Post a job</a>
                            </li>
                            {% endif %}

                        </ul>
                        
                    </div>

                </div>

            </div>

        </nav>

        <div class='container-fluid mt-5 pt-5'>

            <div class="container">
                <div class="text-center qsb-title text-muted">
                    <h4 class="text-muted" style="color: black; text-shadow: rounded"><b>Feel free & share your queries</b></h4>
                </div>
            </div>

        </div>

        <style>
            div.relative {
            position: relative;
            }    
        </style>

        <div class="relative col-sm-5 mx-5 mb-4 mx-auto">
            <div class="row">
                <div class="col-sm">
                    <div class="col mx-5 mt-3 mb-2">
                        {% for message in messages %}
                            {% if messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}    
                        {% endfor %}

                        <div class="col-sm g-2 pt-3 form-control align-items-center">

                            <div class="container">
                                <h2 class="text-center"><b>CONTACT US</b></h2>
                            </div>
                            
                            <form method="post" action="/contact">
                                {% csrf_token %}

                                <div class="row g-2">
                                    <div class="col-sm g-3">
                                        <div class="form-group mb-1">
                                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address" name='email' required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2">
                                    <div class="col-sm g-3">
                                        <div class="form-group mb-1">
                                            <input type="text" class="form-control" id="subject" aria-describedby="subject" placeholder="subject" name='subject' required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2">
                                    <div class="col-sm g-3">
                                        <div class='form-group mb-3'>
                                            <textarea class='form-control' placeholder="write your message here..!" name='desc' id='desc' rows='7'></textarea required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group container text-center my-2">
                                    <button class="btn btn-primary" type="submit">SUBMIT</button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <hr class='mt-auto'>

        <footer class="footer mt-auto py-5 bg-light">

            <div class="container py-4 py-md-2 px-4 px-md-3">

              <div class="row">

                <div class="col-lg-3 mb-3">

                  <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="">
                    <span class="fs-5"><strong>Aspirant</strong></span>
                  </a>

                  <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Designed and built with all the love in the world by the <a href="">Aspirant team</a> with the help of <a href="">our contributors</a>.</li>
                    <li class="mb-2">Code licensed <a href="" target="" rel="">MIT</a>, docs <a href="" target="" rel="">CC BY 3.0</a>.</li>
                    <li class="mb-2">Currently v5.2.0.</li>
                  </ul>

                </div>
                <div class="col-5 col-lg-2 offset-lg-1 mb-3">
                  <h5>Links</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="">Home</a></li>
                    <li class="mb-2"><a href="">Docs</a></li>
                    <li class="mb-2"><a href="">Examples</a></li>
                    <li class="mb-2"><a href="">Icons</a></li>
                    <li class="mb-2"><a href="">Themes</a></li>
                    <li class="mb-2"><a href="">Blog</a></li>
                    <li class="mb-2"><a href="">Swag Store</a></li>
                  </ul>
                </div>
                <div class="col-5 col-lg-2 mb-3">
                  <h5>Guides</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="">Getting started</a></li>
                    <li class="mb-2"><a href="">Starter template</a></li>
                    <li class="mb-2"><a href="">Webpack</a></li>
                    <li class="mb-2"><a href="">Parcel</a></li>
                    <li class="mb-2"><a href="">Vite</a></li>
                  </ul>
                </div>
                <div class="col-5 col-lg-2 mb-3">
                  <h5>Projects</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="">Bootstrap 5</a></li>
                    <li class="mb-2"><a href="">Bootstrap 4</a></li>
                    <li class="mb-2"><a href="">Icons</a></li>
                    <li class="mb-2"><a href="">RFS</a></li>
                    <li class="mb-2"><a href="">npm starter</a></li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="app-cont text-center">
                <a href="https://play.google.com/store/apps/" target="_blank">
                    <img src="https://static.naukimg.com/s/0/0/i/new-homepage/android-app.png" height="44" width="151">
                </a>
                <a href="https://itunes.apple.com/in/app/" target="_blank">
                    <img src="https://static.naukimg.com/s/0/0/i/new-homepage/ios-app.png" height="44" width="151">
                </a>
            </div>

        </footer>

    </div>

    <img src='/static/job_cover.jpg' class="d-block shadow-lg" width="100%" height="100%" alt="">

  </body>

</html>


